<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.fq310.habit"
    android:versionCode="12"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.create.timing.CreateTimingHabitActivity"
            android:label="@string/title_activity_create_habit" >
        </activity>
        <activity
            android:name=".view.create.timing.ModifyTimingHabitActivity"
            android:label="@string/title_activity_modify_habit" >
        </activity>
        <activity
            android:name=".view.create.count.CreateCountHabitActivity"
            android:label="@string/title_activity_create_habit" >
        </activity>
        <activity
            android:name=".view.create.count.ModifyCountHabitActivity"
            android:label="@string/title_activity_modify_habit" >
        </activity>
        <activity
            android:name=".view.execute.timing.ExecuteHabitActivity"
            android:label="@string/title_activity_execute_habit" >
        </activity>
        <activity
            android:name=".Sync"
            android:label="@string/title_activity_sync" >
        </activity>
        <activity
            android:name=".DirectoryPicker"
            android:label="@string/backup_chose_file" >
        </activity>
        <activity
            android:name=".view.execute.count.ExecuteCountHabitActivity"
            android:label="@string/title_activity_execute_count_habit" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
