<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasonfu19860310.tim"
    android:versionCode="2"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.jasonfu19860310.habit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jasonfu19860310.habit.view.CreateHabitActivity"
            android:label="@string/title_activity_create_habit" >
        </activity>
        <activity
            android:name="com.jasonfu19860310.habit.view.ModifyHabitActivity"
            android:label="@string/title_activity_modify_habit" >
        </activity>
        <activity
            android:name="com.jasonfu19860310.habit.view.execute.ExecuteHabitActivity"
            android:label="@string/title_activity_execute_habit" >
        </activity>
        <activity
            android:name="com.jasonfu19860310.habit.Sync"
            android:label="@string/title_activity_sync" >
        </activity>
        <activity
            android:name="com.jasonfu19860310.habit.DirectoryPicker"
            android:label="@string/backup_chose_file" >
        </activity>
        <activity
            android:name="com.jasonfu19860310.habit.view.CreateCountHabit"
            android:label="@string/title_activity_create_count_habit" >
        </activity>
    </application>

</manifest>
