<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasonfu19860310.tim"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.jasonfu19860310.tim.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jasonfu19860310.tim.view.CreateProjectActivity"
            android:label="@string/title_activity_create_project" >
        </activity>
        <activity
            android:name="com.jasonfu19860310.tim.view.ModifyProjectActivity"
            android:label="@string/title_activity_modify_project" >
        </activity>
    </application>

</manifest>
